<a href="https://colab.research.google.com/github/Wonderingleon/Knn/blob/main/Iris_PCA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

In [ ]:
Iris = pd.read_csv('iris.csv')

In [ ]:
Iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
x= Iris.iloc[:, [0,1,2,3]].values

Normalisation

In [ ]:
scaler = StandardScaler()
x= scaler.fit_transform(x)

Reduction de la dimension de 4 Ã  2

In [ ]:
pca= PCA(n_components=2)
Composantes_principales = pca.fit_transform(x)

In [ ]:
nouv_x = pd.DataFrame(data= Composantes_principales, columns =['PC1','PC2'])
nouv_x.head()

        PC1       PC2
0 -2.264542  0.505704
1 -2.086426 -0.655405
2 -2.367950 -0.318477
3 -2.304197 -0.575368
4 -2.388777  0.674767