<a href="https://colab.research.google.com/github/Wonderingleon/Python/blob/main/Python__Data_Netflix.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("netflix_titles.csv")

# Recuperer les pays les plus importants

In [ ]:
df.country.value_counts()[:3].to_dict()

{'United States': 2555, 'India': 923, 'United Kingdom': 397}

# Recuperer le nombre de films par années

df.release_year.value_counts().sort_index(ascending=False)[:10].to_dict()

# Recuperer la liste des réalisateurs

In [ ]:
df.director.dropna().unique().tolist()[:10]

['Jorge Michel Grau',
 'Gilbert Chan',
 'Shane Acker',
 'Robert Luketic',
 'Serdar Akar',
 'Yasir Al Yasiri',
 'Kevin Reynolds',
 'Shravan Kumar',
 'Vikram Bhatt',
 'Zak Hilditch']

# Recuperer la durée moyenne des films

In [ ]:
df_duration = df[df.duration.str.contains('min')]['duration']

In [ ]:
df_duration.str.replace("min","").map(int).mean()

99.30797842663195